@import "/module/foo.css";

.hoge {
    background-color: #000;
    &__fuga {
        background-color: #eee;
        &_min {
            font-size: 60px;
        }
    }
    .piyo {
        font-size:25px;
    }
}