@import "/module/foo.pcss";

.hoge {
    background-color: #000;
    &__fuga {
        background-color: #eee;
        &_min {
            font-size: 60px;
        }
    }
    .piyo {
        font-size:20px;
    }
}