@import "/module/common.css";

.fuga {
    background-color: #000;
    &__fuga {
        background-color: #eee;
        &_min {
            font-size: 60px;
        }
    }
    .moge {
        font-size:20px;
    }
}