<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!--各パーツファイルを読み込ませる記述-->
    <% include ../include/header %>
    <% include ../include/contents %>
    <% include ../include/footer %>
</body>
</html>